body {
  font-size: 16px;
  color: #fff;
  background-color: #ff0055;
  font-family: cursive, sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #00ff99;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 15px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Oxygen', serif;
  color: #ffffcc;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 2px 2px 2px #222;
  margin-top: 0;
  margin-bottom: 0px;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}
.navbar-header button.navbar-toggle {
  appearance: auto;
  border: 1px solid #ff0055;
  clear: both;
  margin-top: -30px;
}
/* END HEADER */

/*previous style*/
h2 {
	text-shadow: 2px 2px 2px #ffffcc;
}
.body-content {
	font-family: cursive;
	text-align: center;
	color: black;
	float: left;
	}
section{
	background-color: lightgray;
	border: 2px solid black;
	margin: 12px;
	position: relative;
}
article{
	margin-top: 0;
	margin-right: auto;
	margin-left: auto;
	font-size: 120%;
	font-weight: bold;
	border-bottom: 1px solid black;
	width: 120px;	
}
.body-content p{
	text-align: left;
	margin-bottom: 0;
	padding: 10px;
	clear: right;
}
#art1{
	background-color: aqua;
}
#art2{
	background-color: orange;
	color: white;
}
#art3{
	background-color: yellow;
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  
  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  	border-top: .1px solid #ff0055;
  }
    /* End Header */

}
